body{
    background-color: #978F9F
    
    ;
}

.m-4{
    background-color: #B5866A;
    /* padding-right: 5px */
    ;
        
}

#submitt-button{
    background-color: #E27231;
    font-size: x-large;
    font:  color #F4F4F4;
    font-style: normal;
    
}
.jumbotron{
    background-color: #5b5a88
    ;
    color: rgb(44, 25, 22);
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
.true-choice{
    font-size: larger;
}

#web-cite{
    padding: auto;
}
