body{
    background-color: #978F9F
    ;
}

.m-4{
    background-color: #B5866A
    ;
        
}

#submitt-button{
    background-color: #E27231;
    font-size: x-large;
    font:  color #F4F4F4;
    font-style: normal;
    
}
.jumbotron{
    background-color: #494779
    ;
    color: rgb(44, 25, 22);
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}